.Pnavbar{
    display: flex;
    background-color:#ff523b;
    width: 100%;
    height: 10vh;
}
.navbar1 img{
    margin-top: 20px;
    padding-left: 10px;
}
.navbar2 ul{
display: flex;
}
.navbar2 ul li{
    margin: 5px 10px 10px 10px;
    padding-left: 60px;
    color: white;
}
.Pnavbar2{
    background-color: lightcoral;
    width: 100%;
    height: 6vh;
    justify-content: center;
}
.Pnavbar2 ul{
    display: flex;
    list-style: none;
    padding-left: 730px;
margin: 20px 20px;
}
.Pnavbar2 ul li{
    padding: 0px 30px;
}
.Pnavbar3{
margin-top:50px ;
margin-left: 10px;
}
.Pnavbar3 ul{
    display: flex;
/* width: 30%; */
height: 30vh;    
}
.Pnavbar3 ul li{
    display: flex;
    width: 100%;
    padding-left: 40px;
    background-size: cover;
    height: 40vh;
}